<h2>Registrar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :Correo_electrónico %><br />
    <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:'Introduce tu correo electrónico' %>
  </div>

  <div class="field form-group">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder:'Introduce contraseña' %>
  </div>

  <div class="field form-group">
    <%= f.label :Confirma_tu_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder:'Repite tu contraseña' %>
  </div>

  <div class="actions">
    <%= f.submit "Registar", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
