<h1>Eventos</h1>
<div id="div1">
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Enero</a></li>
    <li><a href="#tabs-2">Febrero</a></li>
    <li><a href="#tabs-3">Marzo</a></li>
    <li><a href="#tabs-4">Abril</a></li>
    <li><a href="#tabs-5">Mayo</a></li>
    <li><a href="#tabs-6">Junio</a></li>
    <li><a href="#tabs-7">Julio</a></li>
    <li><a href="#tabs-8">Agosto</a></li>
    <li><a href="#tabs-9">Septiembre</a></li>
    <li><a href="#tabs-10">Octubre</a></li>
    <li><a href="#tabs-11">Noviembre</a></li>
    <li><a href="#tabs-12">Diciembre</a></li>
  </ul>
  <div id="tabs-1">
      <div class="container">
      <div class="col-md-4">
        <h1>Fiesta del señor de los aflijidos</h1>   
          <img src="<%= asset_path 'images1.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
          <div class="caption">
          <p align="justify">Esta festividad se realiza el 1 de enero, de manera particular se festeja en el poblado de El Llanito, perteneciente al municipio de Dolores Hidalgo. Se llevan a cabo misas, danzas y juegos pirotécnicos. Cabe mencionar la asistencia de personas de otras localidades del municipio, quienes también disfrutan del baile popular que se lleva a cabo en este poblado, fundamentalmente mestizo.
          <br>
          <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.145039,-100.941648,'div1','div2');" />
          </div>
      </div>
      <div class="col-md-4">
        <h1>Caravana de día de reyes</h1>
        <img src="<%= asset_path 'images2.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <p align="justify">Caravana por las principales calles de la ciudad con carros alegóricos alusivos al día de Reyes y Personajes infantiles. Familias enteras se reúnen en las principales calles de la Cuna de la Independencia, para presenciar la caravana de Reyes Magos organizada por la parroquia de Nuestra Señora de los Dolores y algunas asociaciones civiles. Los participantes en la caravana muestran sus mejores atuendos y algunos interpretan canciones navideñas tradicionales, durante el recorrido. Los Reyes Magos desfilan a caballo, por lo que muchos niños dolorenses aprovechan su presencia para entregarles personalmente su carta de peticiones.
        <br>
        <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.157366,-100.934930,'div1','div2');" />
      </div>
      
      </div>    
  </div>
  <div id="tabs-2">
    <div class="container">
    
    
    </div>
  </div>
  <div id="tabs-3">
    <div class="container">
    
    </div>
  </div>
  <div id="tabs-4">
    <div class="container">
    <div class="col-md-4">
      <h1>Expo tianguis artesanal</h1>   
        <img src="<%= asset_path 'images6.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <div class="caption">
        <p align="justify">Exposición y venta de artesanías en cerámica, talavera y muebles de madera en un pabellón temporal a un costado del centro histórico. Cada temporada vacacional, los artesanos dolorenses exponen sus productos alrededor de una histórica escuela. Los artesanos dolorenses buscan que sus productos de cerámica, mayólica y talavera, sean adquiridos por los cientos de visitantes que acuden a la Cuna de la Independencia Nacional. Otros productos que se pueden adquirir son joyería, dulces típicos, huarachería, entre otros. En Semana Santa, vacaciones de verano, Fiestas Patrias y diciembre.
        <br>
        <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.158127, -100.933456,'div1','div2');" />
        </div>
    </div>
    
    </div>
    </div>
  <div id="tabs-5">
    <div class="container">
    <div class="col-md-4">
      <h1>Fiestas de la Virgen de la Soledad / Viernes de Dolores</h1>   
        <img src="<%= asset_path 'images4.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <div class="caption">
        <p align="justify">En Dolores Hidalgo, se festeja a la Virgen de la Soledad el último domingo de mayo, en el templo de la Soledad de Piedrita, en esta celebración se lleva a cabo una gran kermesse, participan grupos de danzantes y nunca falta la quema de juegos pirotécnicos. En ésta celebración a la Virgen Dolorosa o de los Dolores, patrona del Pueblo se realizan altares monumentales en diversas casas del centro histórico, se realiza una procesión y se regalan aguas, paletas y nieve de frutas de temporada (las famosas de Dolores). 
        <br>
        <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.161984, -100.938021,'div1','div2');" />
        </div>
    </div>
    <div class="col-md-4">
      <h1>Expo tianguis artesanal</h1>
      <img src="<%= asset_path 'images2.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
      <p align="justify">Exposición y venta de artesanías en cerámica, talavera y muebles de madera en un pabellón temporal a un costado del centro histórico. Cada temporada vacacional, los artesanos dolorenses exponen sus productos alrededor de una histórica escuela. Los artesanos dolorenses buscan que sus productos de cerámica, mayólica y talavera, sean adquiridos por los cientos de visitantes que acuden a la Cuna de la Independencia Nacional. Otros productos que se pueden adquirir son joyería, dulces típicos, huarachería, entre otros. En Semana Santa, vacaciones de verano, Fiestas Patrias y diciembre.
      <br>
      <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.158127, -100.933456,'div1','div2');" />
    </div>
    <div class="col-md-4">
      <h1>Festival de la nieves</h1>
      <img src="<%= asset_path 'images8.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
      <p align="justify">Evento titulado "Saborea tu historia" que se desarrolla en la explanada del jardín principal, donde de manera alterna también se realizarán eventos culturales y artísticos. Con el objetivo de atraer el turismo nacional, resaltando las tradiciones y el valor histórico de nuestra ciudad.
      <br>
      <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.157366, -100.93493,'div1','div2');" />
    </div>
    </div>
  </div>
  <div id="tabs-6">
    <div class="container">
    
    </div>
  </div>
    <div id="tabs-7">
    <div class="container">
    <div class="col-md-4">
      <h1>Expo tianguis artesanal</h1>   
        <img src="<%= asset_path 'images6.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <div class="caption">
        <p align="justify">Exposición y venta de artesanías en cerámica, talavera y muebles de madera en un pabellón temporal a un costado del centro histórico. Cada temporada vacacional, los artesanos dolorenses exponen sus productos alrededor de una histórica escuela. Los artesanos dolorenses buscan que sus productos de cerámica, mayólica y talavera, sean adquiridos por los cientos de visitantes que acuden a la Cuna de la Independencia Nacional. Otros productos que se pueden adquirir son joyería, dulces típicos, huarachería, entre otros. En Semana Santa, vacaciones de verano, Fiestas Patrias y diciembre.
        <br>
        <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.158127, -100.933456,'div1','div2');" />
        </div>
    </div>
    
    </div>
  </div>
  <div id="tabs-8">
    <div class="container">
    
    </div>
  </div>
  <div id="tabs-9">
    <div class="container">
    <div class="col-md-4">
      <h1>Fiestas Patrias</h1>   
        <img src="<%= asset_path 'images5.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <div class="caption">
        <p align="justify">Sin duda la festividad más importante de la ciudad es la Independencia, del 6 al 16 de septiembre se organizan exposiciones, eventos culturales y deportivos. Si deseas festejar al estilo muy mexicano estas fiestas patrias no dejes de visitar Dolores, Hidalgo, una fiesta como ninguna. Bailes populares, mucha música, pirotecnia, verbenas y expo comercial. El mes de septiembre no te quedes sin fiesta y disfruta de todas las actividades y atractivos que las Fiestas Patrias en Dolores Hidalgo tiene preparado para ti.
        <br>
        <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.157366, -100.93493,'div1','div2');" />
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="B7X4339BQXYKW">
          <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
          <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
          </form>

        </div>
    </div>
    <div class="col-md-4">
      <h1>Expo tianguis artesanal</h1>
      <img src="<%= asset_path 'images6.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
      <p align="justify">Exposición y venta de artesanías en cerámica, talavera y muebles de madera en un pabellón temporal a un costado del centro histórico. Cada temporada vacacional, los artesanos dolorenses exponen sus productos alrededor de una histórica escuela. Los artesanos dolorenses buscan que sus productos de cerámica, mayólica y talavera, sean adquiridos por los cientos de visitantes que acuden a la Cuna de la Independencia Nacional. Otros productos que se pueden adquirir son joyería, dulces típicos, huarachería, entre otros. En Semana Santa, vacaciones de verano, Fiestas Patrias y diciembre.
      <br>
      <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.158127, -100.933456,'div1','div2');" />
    </div>
    
    </div>
  </div>
    <div id="tabs-10">
   <div class="container">
    
    </div>
  </div>
  <div id="tabs-11">
    <div class="container">
    <div class="col-md-4">
      <h1>Festival Internacional de José Alfredo Jiménez</h1>   
        <img src="<%= asset_path 'images3.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <div class="caption">
        <p align="justify">El Festival José Alfredo Jiménez nace para potencializar la Serenata que con motivo de la muerte del Rey, año con año se celebra en su honor. El pueblo dolorense desde 1973, el año de su partida, cada 22 de noviembre y a manera de reconocimiento, canta sus canciones y visita su tumba durante toda la noche. El recuerdo del compositor mexicano de mayor renombre, se apodera de Dolores Hidalgo, en cada casa, en cada negocio, en cada corazón, se vive la nostalgia del amor y desamor, principales temas de sus canciones. Artistas como Reyli, José Julian, Alejandra Orozco, Roberto Limón, El Mariachi Vargas de Tecatitlán, Paloma Jiménez, entre muchos más han visitado el escenario del jardín principal para formar parte del más grande de los homenajes, el de la ciudad que lo vió nacer.
        <br>
        <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.156695, -100.948707,'div1','div2');" />
        </div>
    </div>
    <div class="col-md-4">
      <h1>Noches Mágicas en un pueblo Mágico</h1>
      <img src="<%= asset_path 'images7.jpg' %>" class="img-rounded" alt="Cinque Terre" width="304" height="236">
      <p align="justify">Evento extensión del Festival Internacional del Globo (FIG) de León para los Pueblos Mágicos de Guanajuato. Espectáculo de luces y sonido, donde al ritmo de la música, los pilotos acción las hornillas para iluminar los globos en la oscuridad.
      <br>
      <input class="btn btn-success" type="button" value="Ubicación" onclick="contruyeMap(21.152213, -100.944727,'div1','div2');" />
    </div>
    
    </div>
  </div>
  <div id="tabs-12">
    <div class="container">
    
    </div>
  </div>

</div>
</div>
<div id="div2">
  <div id="mapa"></div>
    <input class="btn btn-success" type="button" value="Regresar" onclick="ocultar('div2','div1');" />
</div>



